# Virtual environment
venv/

# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]

# Flask
instance/

# Database files
*.db
*.sqlite
*.sqlite3

# Logs
*.log

# IDE / Editor
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Uploads during development
app/static/uploads/*
!app/static/uploads/.gitkeep

app/uploads/documents/*
!app/uploads/documents/.gitkeep

app/uploads/gallery/*
!app/uploads/gallery/.gitkeep